<%= form_with(model: channel, local: true) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Channel_Name %>
    <%= form.text_field :Channel_Name, id: :channel_Channel_Name %>
  </div>

  <div class="field">
    <%= form.label :drive_path %>
    <%= form.text_field :drive_path, id: :channel_drive_path %>
  </div>

  <div class="field">
    <%= form.label :Users_Role %>
    <%= form.text_field :Users_Role, id: :channel_Users_Role %>
  </div>

  <div class="field">
    <%= form.label :users %>
    <%= form.text_field :users, id: :channel_users %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
