<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Drive path:</strong>
  <%= @channel.drive_path %>
</p>

<p>
  <strong>User access:</strong>
  <%= @channel.user_access %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
