<!DOCTYPE html>
<html>
  <head>
    <title>Ndl2018</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://railsgirls.com/assets/bootstraps.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<footer>
		<div class="container">
			Rails channel 2018
		</div>
	</footer>

  	<body>
  		<div class="header">
  			<h1><%=link_to "SphimxScord", root_path%></h1>

  			<% if user_signed_in? %>

		        <%= link_to "Déconnexion", destroy_session_path(:user), method: :delete, class: 'right_top_button' %>

		    <% else %>

		        <%= link_to "Connexion", new_user_session_path, class: 'right_top_button'%>

		    <% end %>

  		</div>

  		<% if user_signed_in? %>

			Bienvenu Mr le <%= current_user.right %>

		<% end %>

	    <div class="container">
	    	<%= yield %>
	   </div>
	  </body>

	</html>
